<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/ayushiagarwal/IdeaProjects/IncuByte/src/test/java/test/Standalonetest.java">
        <classes><class name="test.Standalonetest">
            <methods><include name="signup"/>
                <include name="signin"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>